@using Dealership.Core.Models.Announcement
@model AnnouncementListViewModel
<link rel="stylesheet" href="~/css/Announcement/AllAnnouncemetItemStyle.css" />
<div class="container search-container">
    <h2 class="search-title">Търсене на автомобил</h2>
    <hr class="title-divider" />

    <form method="get" action="/Announcement/Search" id="searchForm">
        <div class="row search-row">
            <div class="col-md-2">
                <select class="form-control" name="make" id="makeSelect">
                    <option value="">Марка</option>
                    <option value="BMW">BMW</option>
                    <option value="Mercedes">Mercedes-Benz</option>
                    <option value="Audi">Audi</option>
                    <option value="Volkswagen">Volkswagen</option>
                    <option value="Toyota">Toyota</option>
                </select>
            </div>

            <div class="col-md-2">
                <select class="form-control" name="year" id="yearSelect">
                    <option value="">Година</option>
                    <option value="2023">2023</option>
                    <option value="2022">2022</option>
                    <option value="2021">2021</option>
                    <option value="2020">2020</option>
                </select>
            </div>

            <div class="col-md-2">
                <select class="form-control" name="engine" id="engineSelect">
                    <option value="">Двигател</option>
                    <option value="Бензин">Бензин</option>
                    <option value="Дизел">Дизел</option>
                </select>
            </div>

            <div class="col-md-2">
                <select class="form-control" name="transmission" id="transmissionSelect">
                    <option value="">Скорости</option>
                    <option value="Автоматични">Автоматик</option>
                    <option value="Ръчни">Ръчни</option>
                </select>
            </div>

            <div class="col-md-2">
                <select class="form-control" name="color" id="colorSelect">
                    <option value="">Цвят</option>
                    <option value="Черен">Черен</option>
                    <option value="Бял">Бял</option>
                </select>
            </div>

            <div class="col-md-2">
                <select name="sortBy" id="sortDropdown" class="form-control sort-dropdown">
                    <option value="">Сортиране по:</option>
                    <option value="year-desc">Година (възходящо)</option>
                    <option value="year-asc">Година (низходящо)</option>
                    <option value="price-desc">Цена (възходящо)</option>
                    <option value="price-asc">Цена (низходящо)</option>
                </select>
            </div>
        </div>

        <button type="submit" class="btn btn-primary mt-3">Търсене</button>
    </form>
</div>

<div class="row mt-4" id="carResults">
    @foreach (var item in Model.Announcements)
    {
        <div class="col-md-4">
            <div class="announcement-card">
                <img src="@Url.Content(item.ImageUrl)" alt="@item.Model" class="car-image" />
                <div class="car-info">
                    <span class="car-make">@item.Make</span>
                    <span class="car-model">@item.Model</span>
                    <span class="car-horsepower">@item.HorsePower HP</span>
                </div>
                <div class="car-price">Цена: @item.Price лв.</div>
                <a asp-action="Details" asp-route-id="@item.Id" class="view-button">Преглед</a>
            </div>
        </div>
    }
</div>

<div class="pagination-container">
    <div class="pagination">
        @if (Model.CurrentPage > 1)
        {
            <a href="@Url.Action("Search", new { page = Model.CurrentPage - 1 })" class="page-link">&laquo; Предишна</a>
        }
        else
        {
            <span class="page-link disabled">&laquo; Предишна</span>
        }

        <span class="page-info">Страница @Model.CurrentPage от @Model.TotalPages</span>

        @if (Model.CurrentPage < Model.TotalPages)
        {
            <a href="@Url.Action("Search", new { page = Model.CurrentPage + 1 })" class="page-link">Следваща &raquo;</a>
        }
        else
        {
            <span class="page-link disabled">Следваща &raquo;</span>
        }
    </div>
</div>


<div class="bottom-right-image">
    <img src="~/img/Transport_Logo-removebg-preview.png" alt="Decorative Image" />
</div>